<nav class="main-navigator">
    <ul>
        <li>
            <a href="/">Home</a>
            <!--
            <a href="home.html" target="_blank" style="text-decoration: none;">Home</a>
            target="_blank" -> Opens the linked in a new browser
            style="text-decoration: none;" -> Remove underlines
            -->
        </li>
        <li><a href="products.html">Products</a> </li>
        <li><a href="about-us.html">About Us</a> </li>
        <li><a href="contact-us.html">Contact Us</a> </li>
        <li><a href="profile.html">Profile</a> </li>
        <li><a href="logout.html">Logout</a> </li>
        <li><a href="admin.html">Admin</a> </li>

    </ul>
</nav>