<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>About Us - Puppies Passion</title>
        <th:block th:include="~{/fragments/head.html}"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <!-- Navigation -->
        <th:block th:include="~{/fragments/header.html}"/>

        <div class="full-background">
            <div class="about-container">
                <h2>About us</h2>
                <h3>Welcome to Puppies Passion</h3>
                <p>
                    For us dogs are people best friend. It is pleasure to share our love for dogs with you. Our beliefs are that dogs
                    are part of the family and deserve our love, care and understanding.
                    Our love for the dogs encouraged us to create Puppies Passion. We spend a vast among of time in developing and testing
                    our products. We work hard to keep our major values – High quality and Acceptable price. With us you can find a large
                    range of products at acceptable price. For the small time in this market, we have not disappointed our customers. We
                    take great care in every order to our clients. Although the large competitive market today, we try  to impose our products,
                    because they are the best. Our products are not the type “available everywhere”, they are high quality and most of all
                    interesting for our best friends – our Dogs.
                </p>
                <p>
                    If you have any questions, comments or suggestions, you can contact us at puppiespassion@gmail.com and we will do everything we can to help you.
                </p>
                <h4>
                    Wishing you and your dogs health and happiness. <br>
                    Puppies Passion
                </h4>
            </div>
        </div>

        <footer> FOOTER </footer>
    </body>
</html>

