<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bags - Puppies Passion</title>
        <th:block th:include="~{/fragments/head.html}"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <!-- Navigation -->
        <th:block th:include="~{/fragments/header.html}"/>

        <div class="categories-products-container">
            <h1 th:text="${product.getName()}"></h1>
            <div class="product-list">

            </div>
        </div>

        <footer>
            <th:block th:include="~{/fragments/footer.html}"/>
        </footer>
    </body>
</html>