<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home - Puppies Passion</title>
        <th:block th:include="~{/fragments/head.html}"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <!-- Navigation -->
        <th:block th:include="~{/fragments/header.html}"/>

        <div class="full-background">
            <div class="homepage-container">
                <h1>Welcome to Puppies Passion</h1>
            </div>
        </div>

        <footer>
            <th:block th:include="~{/fragments/footer.html}"/>
        </footer>
    </body>
</html>